sfdc-accounts-db-sync/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">	
	<flow name="schedulerFlow" doc:id="ccf113ee-2ce5-4fe7-9eb5-ff6a8e0b0540" >
		<scheduler doc:name="Trigger every 120 seconds" doc:id="e4517403-06fa-490b-81fc-92f050cbb924" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" frequency="${scheduler.frequency}" startDelay="${scheduler.startDelay}"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="8f09fea2-5954-49c4-aeeb-ce00f7df1683"/>
		<db:select doc:name="Select" doc:id="7bf8a48f-3082-48df-b7ec-e658f3d23a61" config-ref="Database_Config">
			<db:sql >select id from account
limit 2</db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="734638d1-f5b8-4be2-ab20-82a255efb1cf" message="#[payload]"/>
		<choice doc:name="Does records exists in MySQL db table?" doc:id="18ca2c89-8983-4831-a2a5-eadd93c9d38d" >
			<when doc:id="cb526b08-d66b-4d16-9276-73f866f27f50" expression="#[sizeOf(payload)==0]">
				<logger level="INFO" doc:name="Logger" doc:id="0e68b96a-1981-4ce0-84f9-08e918621fd0" message="Payload is Zero ( No Records Found). Bulk insert all the Salesforce accounts table records into Mysql Db table."/>
				<flow-ref doc:name="insertAllaccounts" doc:id="5441a4f5-07f4-4cc8-b851-f94a63f5e221" name="insertAllaccounts"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="d5f3e927-8c94-46fd-9090-dcf84e179ed1" message="payload is not Zero : Start the synchronization process for SaleasForce account with MySql db table."/>
				<flow-ref doc:name="synchornizationFlow (Upsert)" doc:id="4dc9c38b-5af4-4c77-ad69-3aa94950500a" name="synchronizationFlow"/>
			</otherwise>
		</choice>
	</flow>
</mule>
